spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/clientes_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        format_sql: true
        show_sql: false

  flyway:
    enabled: true

server:
  port: 8089